.page-break {
  page-break-after: always;
}

.page-before {
  page-break-before: always;
}

.main-color {
  color: #EC2028;
}

.main-color-dark {
  color: #333;
}

.main-bg {
  background-color: #EC2028;
}

.main-bg-dark {
  background-color: #333;
}

@page {
  header: page-header;
  footer: page-footer;
  margin: 1cm;
}

body {
  font-family: "XB Riyaz", sans-serif;
  font-size: 13px;
}

.separator-margin-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.separator-margin-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.separator-margin-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.separator-margin-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.separator-margin-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.separator-margin-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.separator-margin-70 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.separator-margin-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.separator-margin-90 {
  margin-top: 90px;
  margin-bottom: 90px;
}

.separator-margin-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.border-center {
  border-top: 1px solid #BBB;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
}

.f-left {
  float: left !important;
}

.f-right {
  float: right !important;
}

.ltr {
  direction: ltr !important;
}

.rtl {
  direction: rtl !important;
}

.line {
  line-height: 1.5;
}

.line b {
  color: #333;
  font-size: 110%;
}

.line .line-number {
  color: #EC2028;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.mark-red {
  color: #cf1938 !important;
}

.text-center {
  text-align: center !important;
}

.title-center {
  font-size: 17px !important;
  margin-bottom: 5px;
}

.mt-1 {
  margin-top: 1px;
}

.mt-2 {
  margin-top: 2px;
}

.mt-3 {
  margin-top: 3px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-6 {
  margin-top: 6px;
}

.mt-7 {
  margin-top: 7px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-9 {
  margin-top: 9px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-11 {
  margin-top: 11px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-13 {
  margin-top: 13px;
}

.mt-14 {
  margin-top: 14px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-17 {
  margin-top: 17px;
}

.mt-18 {
  margin-top: 18px;
}

.mt-19 {
  margin-top: 19px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-21 {
  margin-top: 21px;
}

.mt-22 {
  margin-top: 22px;
}

.mt-23 {
  margin-top: 23px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-26 {
  margin-top: 26px;
}

.mt-27 {
  margin-top: 27px;
}

.mt-28 {
  margin-top: 28px;
}

.mt-29 {
  margin-top: 29px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-31 {
  margin-top: 31px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-33 {
  margin-top: 33px;
}

.mt-34 {
  margin-top: 34px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-36 {
  margin-top: 36px;
}

.mt-37 {
  margin-top: 37px;
}

.mt-38 {
  margin-top: 38px;
}

.mt-39 {
  margin-top: 39px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-41 {
  margin-top: 41px;
}

.mt-42 {
  margin-top: 42px;
}

.mt-43 {
  margin-top: 43px;
}

.mt-44 {
  margin-top: 44px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-46 {
  margin-top: 46px;
}

.mt-47 {
  margin-top: 47px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-49 {
  margin-top: 49px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-51 {
  margin-top: 51px;
}

.mt-52 {
  margin-top: 52px;
}

.mt-53 {
  margin-top: 53px;
}

.mt-54 {
  margin-top: 54px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-56 {
  margin-top: 56px;
}

.mt-57 {
  margin-top: 57px;
}

.mt-58 {
  margin-top: 58px;
}

.mt-59 {
  margin-top: 59px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-61 {
  margin-top: 61px;
}

.mt-62 {
  margin-top: 62px;
}

.mt-63 {
  margin-top: 63px;
}

.mt-64 {
  margin-top: 64px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-66 {
  margin-top: 66px;
}

.mt-67 {
  margin-top: 67px;
}

.mt-68 {
  margin-top: 68px;
}

.mt-69 {
  margin-top: 69px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-71 {
  margin-top: 71px;
}

.mt-72 {
  margin-top: 72px;
}

.mt-73 {
  margin-top: 73px;
}

.mt-74 {
  margin-top: 74px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-76 {
  margin-top: 76px;
}

.mt-77 {
  margin-top: 77px;
}

.mt-78 {
  margin-top: 78px;
}

.mt-79 {
  margin-top: 79px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-81 {
  margin-top: 81px;
}

.mt-82 {
  margin-top: 82px;
}

.mt-83 {
  margin-top: 83px;
}

.mt-84 {
  margin-top: 84px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-86 {
  margin-top: 86px;
}

.mt-87 {
  margin-top: 87px;
}

.mt-88 {
  margin-top: 88px;
}

.mt-89 {
  margin-top: 89px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-91 {
  margin-top: 91px;
}

.mt-92 {
  margin-top: 92px;
}

.mt-93 {
  margin-top: 93px;
}

.mt-94 {
  margin-top: 94px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-96 {
  margin-top: 96px;
}

.mt-97 {
  margin-top: 97px;
}

.mt-98 {
  margin-top: 98px;
}

.mt-99 {
  margin-top: 99px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-1 {
  margin-bottom: 1px;
}

.mb-2 {
  margin-bottom: 2px;
}

.mb-3 {
  margin-bottom: 3px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mb-7 {
  margin-bottom: 7px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-9 {
  margin-bottom: 9px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-11 {
  margin-bottom: 11px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-13 {
  margin-bottom: 13px;
}

.mb-14 {
  margin-bottom: 14px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-17 {
  margin-bottom: 17px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-19 {
  margin-bottom: 19px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-21 {
  margin-bottom: 21px;
}

.mb-22 {
  margin-bottom: 22px;
}

.mb-23 {
  margin-bottom: 23px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-26 {
  margin-bottom: 26px;
}

.mb-27 {
  margin-bottom: 27px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-29 {
  margin-bottom: 29px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-31 {
  margin-bottom: 31px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-33 {
  margin-bottom: 33px;
}

.mb-34 {
  margin-bottom: 34px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-36 {
  margin-bottom: 36px;
}

.mb-37 {
  margin-bottom: 37px;
}

.mb-38 {
  margin-bottom: 38px;
}

.mb-39 {
  margin-bottom: 39px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-41 {
  margin-bottom: 41px;
}

.mb-42 {
  margin-bottom: 42px;
}

.mb-43 {
  margin-bottom: 43px;
}

.mb-44 {
  margin-bottom: 44px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-46 {
  margin-bottom: 46px;
}

.mb-47 {
  margin-bottom: 47px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-49 {
  margin-bottom: 49px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-51 {
  margin-bottom: 51px;
}

.mb-52 {
  margin-bottom: 52px;
}

.mb-53 {
  margin-bottom: 53px;
}

.mb-54 {
  margin-bottom: 54px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-56 {
  margin-bottom: 56px;
}

.mb-57 {
  margin-bottom: 57px;
}

.mb-58 {
  margin-bottom: 58px;
}

.mb-59 {
  margin-bottom: 59px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-61 {
  margin-bottom: 61px;
}

.mb-62 {
  margin-bottom: 62px;
}

.mb-63 {
  margin-bottom: 63px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-66 {
  margin-bottom: 66px;
}

.mb-67 {
  margin-bottom: 67px;
}

.mb-68 {
  margin-bottom: 68px;
}

.mb-69 {
  margin-bottom: 69px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-71 {
  margin-bottom: 71px;
}

.mb-72 {
  margin-bottom: 72px;
}

.mb-73 {
  margin-bottom: 73px;
}

.mb-74 {
  margin-bottom: 74px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-76 {
  margin-bottom: 76px;
}

.mb-77 {
  margin-bottom: 77px;
}

.mb-78 {
  margin-bottom: 78px;
}

.mb-79 {
  margin-bottom: 79px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-81 {
  margin-bottom: 81px;
}

.mb-82 {
  margin-bottom: 82px;
}

.mb-83 {
  margin-bottom: 83px;
}

.mb-84 {
  margin-bottom: 84px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-86 {
  margin-bottom: 86px;
}

.mb-87 {
  margin-bottom: 87px;
}

.mb-88 {
  margin-bottom: 88px;
}

.mb-89 {
  margin-bottom: 89px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-91 {
  margin-bottom: 91px;
}

.mb-92 {
  margin-bottom: 92px;
}

.mb-93 {
  margin-bottom: 93px;
}

.mb-94 {
  margin-bottom: 94px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-96 {
  margin-bottom: 96px;
}

.mb-97 {
  margin-bottom: 97px;
}

.mb-98 {
  margin-bottom: 98px;
}

.mb-99 {
  margin-bottom: 99px;
}

.mb-100 {
  margin-bottom: 100px;
}

.page-header {
  height: 60px;
}

.page-header .pdf-title {
  width: 30%;
  float: right;
}

.page-header .pdf-title .title {
  font-size: 23px;
  line-height: 50px;
  margin: 0;
  display: inline-block;
  color: #333;
  border-bottom: 2px solid #333;
  padding: 0 10px;
  border-radius: 4px;
  font-weight: bold;
}

.page-header .pdf-title .line a {
  color: #444;
  text-decoration: none;
}

.page-header .logo {
  width: 40%;
  float: left;
}

.subtitle {
  color: #444;
  font-size: 18px;
  text-align: center;
}

body {
  direction: rtl;
  text-align: right !important;
  color: #333;
}

.page-header {
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}

.page-header .pdf-title {
  float: right;
  text-align: right;
  color: #000;
  width: 125px;
}

.wrapper-content .content .page-title .label-page {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.wrapper-content .content .section-content {
  padding-top: 40px;
  font-size: 14px;
}

.wrapper-content .content .signature-footer {
  margin-top: 350px;
}

.wrapper-content .content .signature-footer .signature {
  width: 300px;
  float: left;
  text-align: center;
}

.wrapper-content .content .signature-footer .signature .title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.wrapper-content .content .signature-footer .signature .place {
  color: #555;
}


/*# sourceMappingURL=hr_letter.css.map*/